.card_product_detail {
  margin: 5vh 20vw 5vh 20vw;

  display: flex;
  justify-content:flex-start;
  flex-wrap: wrap;
  
}

.photo_product_detail {
  margin-right: 20px;
}

.photo_product_detail span{
  position: absolute;
  color:white;
  background: red;

  padding: 5px 5px;
}
.photo_product_detail img{
  width: 30vw;
  height: 70vh;
}

.product_info_detail{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.product_info_detail h2{
  margin: 10px 0 5px 0;
}


.product_price_detail{
  display: flex;
}

.product_info_detail span{
  margin: 0 5px 5px 0;
}

.product_length_detail{
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}
.product_length_detail ul{
  margin-top: 10px;
  padding: 0;
  list-style: none;

  display: flex;
}

.product_length_detail ul li{
  padding: 10px;
  margin-right: 20px;
  border: 1px solid rgba(192,192,192,0.4);
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}


.product_length_detail ul li:active{
  background:#DC143C;
  color: white;
}

.product_length_detail .is_active{
  background: #DC143C;
  color: white;
}

.product_length_detail button{
  background:#212429;
  color: white;
  font-weight: bold;
  font-size: 14px;
  border-radius: 5px;
  padding: 5px 40px;
  margin-top: 5px;

  -webkit-box-shadow: 1px -1px 23px 3px rgba(0,0,0,0.25);
  -moz-box-shadow: 1px -1px 23px 3px rgba(0,0,0,0.25);
  box-shadow: 1px -1px 23px 3px rgba(0,0,0,0.25);
}

@media (max-width: 600px){
  .photo_product_detail img{
    width: 100%;
    height: 60vh;
  }
  
}