.navbar{
  padding: 20px;
  margin-bottom: 40px;
  background-color:#000000;
  color: aliceblue;

}

.container{
  margin: 0 18vw 0 19vw;
}

.navbar ul{
  margin: 0;
  padding: 0;
  list-style: none;
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}


.navbar ul li h1{
  margin: 0;
}

.navbar ul li svg{
  margin: 0 5px 0 5px;
}

.navbar ul li .icon_qtd_cart{
  position: absolute;
  top: 40px;
  right: 380px;
  padding: 2px 6px;
  border: 1px solid red;
  border-radius: 50%;
  background-color: red;
  font-weight: bold;
}

@media (max-width: 600px) 
{
  .container{
    margin: 0 5vw 0 5vw;
  }

  .navbar ul li .icon_qtd_cart{
    position: absolute;
    top: 38px;
    right: 55px;
    padding: 2px 6px;
    border: 1px solid red;
    border-radius: 50%;
    background-color: red;
    font-weight: bold;
  }
}