
.cart_products{
  margin: 5vh 20vw 5vh 20vw;
  background: #fff;
  border-radius: 4px;

  padding: 30px;
}

/*.cart_products_info{
  display: flex;
  width: 100%;
  height: 280px;
  background-color: yellow;
  border: 1px solid black;
}
*/


.cart_products_table{
  width: 100%;
  border-collapse: collapse; 

}
.cart_products_table thead tr{
  text-align: left;
}

.icon:hover{
  color: red;
}

.cart_products_table thead tr th{
  font-size: 20px;
  font-weight: bold;
 
} 

.cart_products_table tbody tr{
  border-bottom: 1px solid rgba(169,169,169,0.2);
}

.cart_products_table tbody tr td img {
  height: 150px;
}

.cart_products_table tbody tr td:nth-child(2) h2{
  margin: 0 0 10px 0;
  font-size: 17px;
}

.cart_products_table tbody tr td ul{
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.cart_products_table tbody tr td ul li{
  margin: 0 10px 0 10px;
}

.cart_products_table tbody tr td.qtd_list{
  font-size: 20px;
  color:red;
}

.cart_products_table tbody tr td .button_list{
  font-size: 15px;
  font-weight: bold;
  margin: 0 10px;
  padding: 6px 8px;
  border: 1px solid black;
  border-radius: 3px;
}

.cart_products_table tbody tr td .button_list:hover{
  background-color:rgba(169,169,169,0.5) ;
}


.footer__cart{
  text-align: right;
  margin-top: 20px;
  font-size: 20px;
  font-weight: bold;
}

